
<h1>changes for git checking</h1>
<h2>welcome to project</h2>



<div class="dropdown">
  <button class="dropbtn">Claim <span><i class="fa fa-angle-double-down"></i></span></button>
  <div class="dropdown-content">
    <a routerLink="claim/newclaim">File a new claim</a>
    <a routerLink="claim/insurer">Claim is already filed with the insurer</a>
    <a routerLink="claim/know">Know more about filing claim</a>
    <a routerLink="claim/track">Track existing claim</a>
  </div>
</div>

<router-outlet></router-outlet>
