<p>know works!</p>
<div class="maincontainer">
<div class="container">
  <h1 style="color: grey">Do you Need</h1>
  <h1 style="color: grey">Insurance <strong>Claim Assistance?</strong></h1>
  <h3 style="color: grey">Don't worry,we are here to help you.</h3>
  <br />
  <h3>To learn more about the claim process, please select a product:</h3>

  <div class="row">
    <div class="column">
      <a href="">
        <img src="../../../assets/health-removebg-preview.png" alt="health" />
        <figcaption>
          Health <br />
          Insurance
        </figcaption>
      </a>
    </div>
    <div class="column">
      <a href="">
        <img src="./../../assets/car-removebg-preview.png" alt="car" />
        <figcaption>
          Motor <br />
          Insurance
        </figcaption>
      </a>
    </div>
    <div class="column">
      <a href="">
        <img src="../../../assets/two-wheeler1.png" alt="two-wheeler1" />
        <figcaption>
          2 Wheeler<br />
          Insurance
        </figcaption>
      </a>
    </div>
    <div class="column">
        <a href="">
          <img src="../../../assets/travel.png" alt="travel" />
          <figcaption>
            Travel <br />
            Insurance
          </figcaption>
        </a>
      </div>
      <div class="column">
        <a href="">
          <img src="../../../assets/travel.png" alt="travel" />
          <figcaption>
            Term <br />
            Insurance
          </figcaption>
        </a>
      </div>
    
    
  </div>
  <p class="notes">
    *The Claims assistance app features provide facility to our customers who
    can voluntarily opt for <br />
    the same. Policybazaar is acting only as a facilitator and does not act as a
    surveyor. Decision on <br />
    settlement or rejection of your claim shall be taken solely by the insurer
    in accordance with IRDAI <br />
    applicable laws/regulations
  </p>
</div>
<div class="right">
  <img
    class="rup"
    src="../../../assets/lady2.jpg"
    alt="help"
    style="box-shadow: none; float: left"
  />
  <h3>Got questions regarding</h3>
  <h3 style="line-height: 1px">Insurance Claim?</h3>
  <h3 style="color: green">Our claims assistance</h3>
  <h3 style="color: green">
    experts are available <span id="bgc"> 24X7 <sup>*</sup></span>
  </h3>
  <br /><br />

  <div class="call">
    <p>
      For Motor, Health, Travel & Term Insurance claim <br />
      related queries
    </p>
    <a href="">
      <h3>
        <span><i class="fa fa-phone" style="font-size: 20px"></i></span> &nbsp;
        Call at 1800-258-5881
      </h3>
    </a>
  </div>
  <p class="notes">
    *24x7 claim assistance available for Health & Motor insurance
  </p>
</div>
</div>
